/* General Rules */

i{
  color: white;
  opacity: 0.7;
}

/* Utility */

.white{
  background: #fff;
}

.red{
background: #e74c3c;
}

.orange{
background: #e67e22;
}

.yellow{
background: #f1c40f;
}

.green{
background: #27ae60;
}

.blue{
background: #2c3e50;
}

.background{
  background: rgb(153,141,141);
  background: radial-gradient(circle, rgba(153,141,141,1) 12%, rgba(22,37,78,1) 82%);
}

/* App */

.app{
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

header{
  width: 100%;
}

header h1{
  color: transparent;
  background: #666666;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  text-shadow: 0px 3px 3px rgba(255,255,255,0.5);
}

.title{
  font-size: 50px;
  color: #dcdde1
}

.carousel-box{
  width: 1100px;
}

.left-box{
  flex-basis: 5%;
}

.center-box{
  flex-basis: 90%;
}

.center-box > img{
  width: 100%;
  height: 500px;
  border-radius: 10px;
  -webkit-box-shadow: 4px 4px 7px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 4px 4px 7px 0px rgba(0,0,0,0.75);
box-shadow: 4px 4px 7px 0px rgba(0,0,0,0.75);
}

.selector{
  display: inline;
  position: absolute;
  left: 50%;
  bottom: 30px;
  transform: translateX(-50%);
  border-radius: 10px;
}

.selector i{
  padding: 3px 30px;
}


.right-box{
  flex-basis: 5%;
  height: 600px;
}

.item-active{
  color: #343D5D;
}